<div   class="foot mt-3">
    <img src="assets/jo.PNG" alt="" class="mx-auto grace"> 
    <!-- [ngStyle]="{backgroundImage:'url(./assets/footr.JPG)'}" -->
    <div class="row text-center">
        <div class="col-md-4">
            <h5 style="color: white;">WEDDING INFO</h5>
            
              <p>Wedding Details</p> 
                <p>Gift Registry</p>
                  
        </div>

        <div class="col-md-4">
            
             <h5 style="color: white;">ABOUT US</h5>
        
            <p>Our Story</p>
        </div>
        
        <div class="col-md-4">
           
             <h5 style="color: white;">LOCATION</h5>
            <p>All Within Praise Hall</p>
            <p>Rasco Estate</p>
            <p>Osogbo</p>

            
            <p class="mt-3">Breakthrough Cathedral</p>
            <p>Olosan Bus Stop, Gbongan-Ibadan Road, </p>
            <p> Oshogbo</p>
            
        </div>

        
       

        <div class="col-12 mt-3">
            <hr class="light">
            <h5 id="copy"> Copyright ©2021 All rights reserved </h5>
        </div>
    </div>
</div>


