.foot{
    color: #2862cf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    background-image: linear-gradient(to right,#bfd7e9,#5f9dc9,#57a0d3,#73c2fb);
}

.copy{
font-size: 20px;  
color: green;  
}

.w-25{
    position: relative;
    left: 37%;
    margin-bottom: 12px;
    margin-top: 12px;
    
    
}