<div   class="foot">
    <!-- [ngStyle]="{backgroundImage:'url(./assets/footr.JPG)'}" -->
    <div class="row text-center">
        <div class="col-md-4">
            <h5 style="color: white;">WEDDING INFO</h5>
            
              <p>Wedding Details</p> 
                <p>Gift Registry</p>
                  
        </div>

        <div class="col-md-4">
            
             <h5 style="color: white;">ABOUT US</h5>
        
            <p>Our Story</p>
        </div>
        
        <div class="col-md-4">
           
             <h5 style="color: white;">LOCATION</h5>
            <p>Ogba,</p>
            <p>08130186371 - Ikeja,Lagos</p>
            
        </div>

        
       

        <div class="col-12 mt-3">
            <hr class="light">
            <h5 id="copy"> Copyright ©2020 All rights reserved </h5>
        </div>
    </div>
</div>


