<div class="container-fluid">

<div class="row text-center">
    <div class="col-md-12">
        <img src="assets/1.JPG" class="img-fluid w-100" alt="">
    </div>
    
</div>


<div class="row text-center p-3 justify-content-center">
     <div class="col-md-12 tos">
        <h3 id="info">Wedding Info</h3>
          <img src="assets/aa.jpeg" id="line" class="img-fluid" alt="">  
       </div> 
    <div class="col">
        <div class="card  control" style="width: 20rem; height: 56vh;  margin-top: 10%;">
            <i id="wedd" class="large material-icons">camera</i>
            <h4 id="eng">Engagement</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>Dec. 19, 2020</p>
            </span>
            <span>
                <i id="time" class="large material-icons">access_time</i>  <p>7:00 AM</p>
            </span>
            <span>
                <i id="locat" class="large material-icons">location_on</i>  <p>Oragon Event Center,</p>
           </span>
            
            <p>4 Ebun Street off Yaya Abatan Road,
            </p>
            <p>Ikeja,Lagos</p>
        </div>
    </div>

    <div class="col">
        <div class="card  controll m-1" style="width: 20rem; height: 60vh;">
            <i id="wedd" class="large material-icons">loyalty</i>
            <h4 id="weddi">Wedding</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>Dec. 19, 2020</p>
            </span>
         
            <span>
            <i id="time" class="large material-icons">access_time</i>  <p>12:00 PM</p>
             </span>
            
            <span>
                 <i id="loca" class="large material-icons">location_on</i>  <p>Elevation Church Pistis Hub</p>
            </span>
           
            <p>Maryland,Lagos</p>

      
        </div>
    </div>

    <div class="col">
        <div class="card controlll" style="width: 20rem;height: 56vh;">
            <i id="rep" class="large material-icons">local_movies</i>
            <h4 id="repp">Reception</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>Dec. 19, 2020</p>
            </span>
            <span>
                <i id="time" class="large material-icons">access_time</i>  <p>7:00 AM</p>
            </span>
            <span>
                <i id="locat" class="large material-icons">location_on</i>  <p>Oragon Event Center,</p>
           </span>
            
            <p>4 Ebun Street off Yaya Abatan Road,
            </p>
            <p>Ikeja,Lagos</p>
        </div>
    </div>
</div>

<!-- <div class="row text-center">
    <h3>Countdown timer</h3>
</div> -->
    
    
</div>