<app-navbar></app-navbar>

<div class="container-fluid">

<div class="row text-center">
    <div class="col-md-12">
        <img src="assets/d.jpg" class="img-fluid w-100" alt="" id="first">
    </div>
    
</div>


<div class="row text-center p-3 justify-content-center">
     <div class="col-md-12 tos">
        <h3 id="info">Wedding Info</h3>
        <hr class="accessory">
            <hr class="style1">        
          <!-- <img src="assets/flower.png" id="line" class="img-fluid" alt=""> 
          <img src="assets/flower.png" id="line1" class="img-fluid" alt="">   -->
       </div> 
    <div class="col">
        <div class="card  control" style="width: 20rem; height: 59vh;  margin-top: 10%;">
            <i id="wedd" class="large material-icons">camera</i>
            <h4 id="eng">Engagement</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>March 26, 2021</p>
            </span>
            <span>
                <i id="time" class="large material-icons">access_time</i>  <p>2:00 PM</p>
            </span>
            <span>
                <i id="locato" class="large material-icons">location_on</i>  <p> All Within Praise Hall,</p>
           </span>
            
            <p>Wonderful God Street, Rasco Estate,
            </p>
            <p>Oshogbo</p>
        </div>
    </div>

    <div class="col">
        <div class="card  controll mt-3 mb-2" style="width: 20rem; height: 65vh;">
            <i id="wedd" class="large material-icons">loyalty</i>
            <h4 id="weddi">Wedding</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>March 27, 2021</p>
            </span>
         
            <span>
            <i id="time" class="large material-icons">access_time</i>  <p>10:00 AM</p>
             </span>
            
            <span>
                 <i id="loca" class="large material-icons">location_on</i>  <p>The Redeemed Christian church of God </p>
            </span>
            <p>Breakthrough Cathedral</p>
            <p>Olosan Bus Stop, Gbongan-Ibadan Road, </p>
            <p> Oshogbo</p>

      
        </div>
    </div>

    <div class="col">
        <div class="card controlll mt-3" style="width: 20rem;height: 59vh;">
            <i id="rep" class="large material-icons">local_movies</i>
            <h4 id="repp">Reception</h4>
            <hr>
            <span>
                <i id="date" class="Small material-icons">date_range</i>   <p>March 27, 2021</p>
            </span>
            <span>
                <i id="time" class="large material-icons">access_time</i>  <p>12:00 PM</p>
            </span>
            <span>
                <i id="locat" class="large material-icons">location_on</i>  <p>Aurora Conference and Event Centre,</p>
           </span>
            
            <p>West bye pass,
            </p>
            <p>Oshogbo</p>
        </div>
    </div>
</div>

<!-- <div class="row text-center">
    <h3>Countdown timer</h3>
</div> -->
    
    
</div>

<app-footer></app-footer> 