<app-navbar></app-navbar>
<div class="container">
   <div class="mt-3 mb-3">
       <h5 class="p-2">The Elevation Church Pistis</h5>
       <span id="bord">.</span>

       <img src="assets/church1.JPG" alt="" class="img-fluid mb-3">
       <img src="assets/church.jpg" alt="" class="img-fluid" >
   </div>

   <div>
       <h5 class="p-2">Oragon Event Center</h5>
       <img src="assets/IMG_5187.JPG" alt="" class="img-fluid mb-3">
   <img src="assets/event.jpg" alt="" class="img-fluid">
   </div>
   
</div>


<app-footer></app-footer> 