<div class="container-fluid">
   <div class="wrapper">
      <!-- <span style="color:black">W</span>
      <span>E</span> -->
      <span>❤️❤️ </span>
       <span style=" margin-left:4px">#OTEE2020 </span> 
     
      <span style="color: #d4af37; margin-left: 7px;"> ❤️❤️</span>
  
     
  
    </div> 
    <!-- <div class="row p-3">
      <h3 id="into">❤️❤️#OTEE❤️❤️</h3>
    </div> -->

    

     <div style="margin-top: 7%;">
      
        <div id="accordion">
          <div class="card text-center">
            <div class="card-header">
              <a class="card-link btn btn-outline-success" data-toggle="collapse" href="#collapseOne">
                THE COUPLES ❤️
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/6.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/1.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/2.JPG" class="img-fluid" alt="">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseTwo">
              Couples with 🧡 💛  
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <!-- <span class="nav">
                    <i id="befor" class="large material-icons">navigate_before</i>   <i id="next" class="large material-icons">navigate_next</i> 
                </span> -->
                <div class="scrollmenu">
        
                    <img src="assets/4.JPG" class="img-fluid" alt="">
                    <img src="assets/5.JPG" class="img-fluid" alt="">
                    <img src="assets/3.JPG" class="img-fluid" alt="">
                    <img src="assets/55.JPG" class="img-fluid" alt="">
                </div>
                <p style="margin-top:5px;">Swipe Through</p>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseThree">
                OUR STORY #💙 🤍 💞 💓 💕
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3>OUR STORY</h3>
                    </div>
            
                    <div class="col-md-4">
                        <img src="assets/7.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/9.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/24.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/21.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/12.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/11.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/23.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/25.JPG" class="img-fluid" alt="">
                    </div>
                </div>
            
              </div>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseFour">
              BEST MAN   
            </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
               
                <img src="assets/best.png" class="img-fluid" alt="">
                
              </div>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseFive">
                CHIEF BRIDESMAID 
            </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
               
                <img src="assets/best2.png" class="img-fluid" alt="">
                
              </div>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapsesix">
               LIST OF GROOMSMEN
            </a>
            </div>
            <div id="collapsesix" class="collapse" data-parent="#accordion">
              <div class="card-body">
               
                <div class="row text-center">
                  <div class="col-md-12">
                      <h3> LIST OF GROOMSMEN</h3>
                  </div>
          
                  <div class="col-md-4">
                      <img src="assets/best/1.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/2.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/3.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/4.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/5.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/6.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/7.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/best/8.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="assets/best/9.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                  <img src="assets/best/10.png" class="img-fluid" alt="">
              </div>
              </div>


              </div>
            </div>
          </div>


          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapsesex">
                LIST OF BRIDESMAIDS
            </a>
            </div>
            <div id="collapsesex" class="collapse" data-parent="#accordion">
              <div class="card-body">
               
                <div class="row text-center">
                  <div class="col-md-12">
                      <h3> LIST OF BRIDESMAIDS</h3>
                  </div>
          
                  <div class="col-md-4">
                      <img src="assets/ladies/1.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/2.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/3.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/4.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/5.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/6.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/7.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                      <img src="assets/ladies/8.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-4">
                    <img src="assets/ladies/9.png" class="img-fluid" alt="">
                </div>
              
              </div>

              
              </div>
            </div>
          </div>

          
        </div>
      </div>
</div>

