<div class="container-fluid">
    
     <div>
        <h2>Wedding pictures of Dayo and Sade</h2>
        <p><strong>Note:</strong> Come <strong>with your</strong> Gifts </p>
        <div id="accordion">
          <div class="card text-center">
            <div class="card-header">
              <a class="card-link btn btn-outline-success" data-toggle="collapse" href="#collapseOne">
                Couples  ❤️
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/6.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/1.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/2.JPG" class="img-fluid" alt="">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseTwo">
              Couples with 🧡 💛  
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <!-- <span class="nav">
                    <i id="befor" class="large material-icons">navigate_before</i>   <i id="next" class="large material-icons">navigate_next</i> 
                </span> -->
                <div class="scrollmenu">
        
                    <img src="assets/4.JPG" class="img-fluid" alt="">
                    <img src="assets/5.JPG" class="img-fluid" alt="">
                    <img src="assets/3.JPG" class="img-fluid" alt="">
                    <img src="assets/55.JPG" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <a class="collapsed card-link btn btn-outline-success" data-toggle="collapse" href="#collapseThree">
                Our Story #3 💙 🤍 💞 💓 💕
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3>Our Story</h3>
                    </div>
            
                    <div class="col-md-4">
                        <img src="assets/7.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/9.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/24.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/21.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/12.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/11.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/23.JPG" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/25.JPG" class="img-fluid" alt="">
                    </div>
                </div>
            
              </div>
            </div>
          </div>
          
        </div>
      </div>
</div>

