<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
              <img src="assets/rr.JPG" alt="" class="img-fluid"> 
        </div>

        

        
        <div class="col-sm-4 card p-3 m-3 bg-warning text-white" [ngStyle]="{backgroundImage:'url(./assets/jo.PNG)'}">

                <div class="row">
                    <div class="col-md-2 text-center">
                        <i class="large material-icons iff" >phone</i>
                    </div>

                    <div class="col-md-8 text-center">
                        <h5>Call Halima Arogundade</h5> 
                        <a href="tel:234-906-626-6247"> 234-906-626-6247</a>
                    </div>
                </div>
           
        </div>


        <div class="col-sm-4 card p-3 m-3 bg-secondary text-white">

            <div class="row">
                <div class="col-md-2 text-center">
                    <i class="large material-icons iff" >phone</i>
                </div>

                <div class="col-md-8 text-center">
                    <h5>Call Halima Arogundade</h5> 
                    <a href="tel:234-906-626-6247"> 234-906-626-6247</a>
                </div>
            </div>
       
    </div>

</div> 

    <div class="row">
        <div class="col-md-12">
             <img src="assets/joo.PNG" alt="" class="img-fluid"> 
            
       </div>
    </div>
    
</div>
<app-footer></app-footer>
