<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
             <img src="assets/rr.JPG" alt="" class="img-fluid">
        </div>

        <div class="col-md-4 card p-3 m-3">
            <h5>Call Halima Arogundade</h5> 
            <a href="#">+2349066266247</a>
        </div>

        <div class="col-md-4 card p-3 m-3">
            <h5>Call Halima Arogundade</h5> 
            <a href="#">+2349066266247</a>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="assets/tt.JPG" alt="" class="img-fluid">
            <h5 id="call">Call Halima Arogundade</h5>
       </div>
    </div>
</div>
<app-footer></app-footer>
