h1{
    font-size: 60px;
    font-family: 'Lobster', cursive;
}


p{
    font-size: 30px;
}
.cash{
    border: 1px solid hotpink;
    text-decoration: none;
    padding: 17px;
    border-radius: 49px;
    color: black;
    margin: 10px 10px 20px 10px;
    
    
}

.cash:hover{
    opacity: 1;
    color: white;
    border:none ;
    background: #dce5a9;
  background: -moz-linear-gradient(-45deg, #dce5a9 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #dce5a9 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #dce5a9 15%,#2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce5a9', endColorstr='#2b94e5',GradientType=1 );
}



.gift{
    border: 1px solid hotpink;
    text-decoration: none;
    padding: 17px;
    border-radius: 49px;
    color: black;
     
}

.gift:hover{
    opacity: 1;
    color: white;
    border:none ;
    background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

a{
    text-decoration: none;
}

.cashgift{
    background: khaki;
    border-radius: 10px;

}

.modal-title{
    color:grey;
    font-size: 15px;
    font-weight: 800;
    font-family: monospace;

}

.scrolling-wrapper{
    overflow-x: auto;
   
}

@media only screen and (max-width: 1200px) {
    h1{
        font-size: 38px;
        margin: 5px;
        font-family: 'Lobster', cursive;
    }

    p{
        font-size: 20px;
    }

    .yoo{
        width: 100%;
    }
}