<app-navbar></app-navbar>
<div class="container-fluid">
<div class="card m-3 p-3" id="oge">
    
    <div class="card p-3 m-2">
        <h6><strong>How did you meet?</strong> </h6>
        <p><strong>Timi: </strong> He was the first person I met in Osun State University as a fresher who came to do pre-registration processing along with my mum. He also came with his dad, granddad and younger sister.</p>
    </div>

    <div class="card p-3 m-2">
        <h6><strong>Did he start making moves on you right from Year 1 in School?</strong> </h6>
        <p><strong>Timi: </strong> Lool, no, he was too shy even though I knew he was feeling the girl from day one . He started making moves from Year 3, after one of those long ASUU strikes.</p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>So, what first caught your eyes about her?</strong> </h6>
        <p><strong>Yinka: </strong> Her infectious smile....I wanted to see that smile everyday of my life.
        </p>
    </div>

    <div class="card p-3 m-2">
        <h6><strong>How did he ask you out?</strong> </h6>
        <p><strong>Timi: </strong> Ah, it took a whole community oh. From his friends befriending me and toasting me on behalf of their friend (special shout out to Seun, Bimbo, Femi Disu, Bankoli, in fact the whole boys hostel took it upon themselves to lobby for their guy always). He also used my girls to get close to me and they were always talking about him, Halima and Adebanke, you guys are the real MVP.</p>
        <p>He would always walk me from the college building to my hostel, stay back for long hours but he never said what was on his mind .
            Some nights, he would stay long in my hostel with his friends, I would walk him out and he would seem to want to say something but he didn't make the move o.
            I would just be laughing and really feeling myself. I knew he really liked me and adored me, it was in his reserved and guided look when I was not looking at him, how he treated me like I was delicate and how he befriended me, soft but with a goal in mind.</p>

            <p> <strong>He finally asked me out either 3rd or 4th July, 2014 at the College Building in Osun state university. Symbolic because that's also the first place we met.</strong> </p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>How did you feel asking her out?</strong> </h6>
        <p><strong>Yinka: </strong> It felt like a huge burden lifted off my head and chest. I was( i still am) the shy type. I could barely muster three words together when I was with her. So, mustering up the courage to ask her out after having feelings for her for quite a while was a huge win for me and it felt like a massive achievement for me, being the first time i ever asked a lady out...But she posted me sha oh.(shout out to Seun..Thank you for following me that night and hiding somewhere playing love songs )</p>
    </div>

    <div class="card p-3 m-2">
        <h6><strong>Why did you post him and what made you finally agree to be in a relationship with him?</strong> </h6>
        <p><strong>Timi: </strong> Well, shakara is allowed na . Lol, but to be serious, we were both young and I had so many worries. I had to be sure we both understood what we were getting into. Not that one person wanted A, the other wanted Z. Can two walk together except they agree? There had to be an agreement in purpose, intent and goals. We both sought the face of the Lord for directions and asked Him to be the pilot of our ship and He has been in charge ever since.
            I finally agreed to be in a relationship with him December 20, 2014 on his birthday (I know I am so thoughtful ).</p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>And how has the journey been?</strong> </h6>
        <p><strong>Yinka: </strong> Smooth? Nope..It has been a journey filled with love and countless amazing experiences
            as well as little hiccups here and there..Will i love to continue the journey? Absolutely.
            </p>
    </div>

    <div class="card p-3 m-2">
        <h6><strong>Did you have any doubts as to if he was the one?</strong> </h6>
        <p><strong>Timi: </strong> Naturally, yes because we were both young when we started but everytime, God tells me to trust in Him totally and I haven't had cause to look back.</p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>How were you certain she was the one?</strong> </h6>
        <p><strong>Yinka: </strong> I knew what I wanted from the beginning and went for it straight on and with the blessing of God, she has remained the only one.
        
            
        </p>
    </div>

    <div class="card p-3 m-2 ">
        <h6><strong>How have you guys been able to manage distance in your relationship?</strong> </h6>
        <p><strong>Timi: </strong> We communicate and over communicate. We have this night time routine, not like we created it but it just became our thing where we talk about everything that went down during the day, we are each other's best friends. We also make out time to visit one another as often as time permits.
        </p>
    </div>


    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>How did you feel the day you were going to ask her to be your life partner on this journey and be your wife?</strong> </h6>
        <p><strong>Yinka: </strong> July 11, 2020...Bold step..I was excited for the future and in my mind, i just knew things were different now because i was no longer a boyfriend, I don turn husband.</p>
    </div>

    <div class="card p-3 m-2 ">
        <h6><strong>What was your reaction when you saw him on his knees?</strong> </h6>
        <p><strong>Timi: </strong> Ahhh *covers face, I can't even remember the things he said because I was overexcited. I was just jumping and screaming in excitement. He is the king of surprises but he took it further that day. My girls who have become family; Doyin Owolabi and Deola Amosun planned everything away from my very inquisitive nature and intuitive spirit. I didn't have one clue, won get me literally. I was the one who went to visit him in Ibadan, I planned the trip to see him after the lockdown prevented us from seeing for a long time, I didn't know he had other plans. My other friends and family who couldn't make it physically due to the gradual easing up of lockdown in the country were connected via Zoom. It was perfect and beautiful. To be a recipient of such thoughtfulness and love, I consider myself blessed.</p>
    </div>

    <div class="card p-3 m-2 ">
        <h6><strong>You guys went to law school together?</strong> </h6>
        <p><strong>Timi: </strong> Yup And we were called same day but at different time. Natural follow-follow.</p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>How do you feel about getting married to Oluwatimilehin?</strong> </h6>
        <p><strong>Yinka: </strong> The love of my life. My TimTim. I love you so much and i can't wait to get started on this journey with you. Kisses</p>
    </div>
 
    <div class="card p-3 m-2">
        <h6><strong>How do you feel about getting married to Olayinka?</strong> </h6>
        <p><strong>Timi: </strong> My answer is in 3 folds oh</p>
        <ul>
            <li> Blessed, extremely blessed to be marrying a very special breed and kind hearted man.</li>
            <li>We have been favoured by God to be part of His divine mandate.  </li>
            <li>Peace like a river because God who began a good thing is able to complete it to the very end .</li>
        </ul>
    </div>

    <div class="card p-3 m-2">
        <h6><strong>Describe Olayinka in few words</strong> </h6>
        <p><strong>Timi: </strong> One of the kindest humans I have met and he is all mine, Considerate, a Partner in every sense of the word, Loving, My Priest, Prayer Partner (sorry about those times I used to eat when we were meant to fast ), Hot stuff, Olayinka handsome bobo and my best friend.</p>
    </div>

    <div class="card p-3 m-2 bg-info text-white">
        <h6><strong>Describe Oluwatimilehin in few words?</strong> </h6>
        <p><strong>Yinka: </strong> Timi èlerin eye. Timi is everybody's baby. The best of them all, a very beautiful human being in deeds, in nature and in kind, the girl after God's heart and my wife</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>Who is more jealous?</li>
            <li>Who is more playful?</li>
            <li>Who is likely to be the stricter parent?</li>
            <li>Who says I love you first?</li>
            <li>Who is more touchy feely?</li>
            <li>Who dozes off watching a movie?</li>
            <li>Who can sing better?</li>
            <li>Who spends more?</li>
        </ul>
    </div>
</div>

<div class="row p-3">
    <div class="col-md-4">
        <div class="card bg-warning text-white p-2 m-1">
            <h3 class="text-center">YINKA'S ANSWER</h3>
            <ol>
                <li>Jealous- Timi</li>
                <li>Playful- Yinka</li>
                <li>Stricter- Timi</li>
                <li>I love you- Timi</li>
                <li>Touchy feely- Timi</li>
                <li>Doze- Timi</li>
                <li>Sing-Yinka</li>
                <li>Spends more- Yinka</li>
            </ol>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-info text-white p-2 m-1">
            <h3 class="text-center">TIMI'S ANSWER</h3>
            <ol>
                <li>Jealous- Yinka</li>
                <li>Playful- Yinka</li>
                <li>Stricter- well, I dunno really</li>
                <li>I love you- Timi</li>
                <li>Touchy feely- Yinka</li>
                <li>Doze- Timi</li>
                <li>Sing-Yinka, Ibadan TravisGreene</li>
                <li>Spends more- Aaah, Yinka, I'm the manager of accounts.</li>
            </ol>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer> 